<style>
    .btn.btn-info.farm.add{
        margin-top: 10px;
    }
    .btn.btn-danger.farm.delete{
        margin-top: 10px;
    }
</style>
<h3><em class=" fa fa-home">&nbsp;&nbsp;&nbsp;</em>{{pagetitle}}</h3>
<nav class="navbar navbar-default ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="btn btn-info farm add" ng-click="addfarm()">
                <span class="btn-label"><i class="fa fa-plus"></i></span>
                新增农场
            </button>
            <button type="button" class="btn btn-danger farm delete" ng-click="deletefarms()">
                <span class="btn-label"><i class="fa fa-minus"></i></span>
                删除所选农场
            </button>.
        </div>
    </div>
</nav>

<div class="col-md-12">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th style="width:5%;"><input type="checkbox" ng-model="$isselectall" ng-click="selectall($value)"/></th>
                    <th style="width:20%;">农场编码</th>
                    <th style="width:25%;">农场名称</th>
                    <th style="width:20%;">农场状态</th>
                    <th style="width:30%;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="farm in farm_data.content">
                    <td><input type="checkbox" sno="{{farm.id}}" ng-model="farm.$isselected" /></td>
                    <td>{{farm.id}}</td>
                    <td>{{farm.farmName}}</td>
                    <td>可用</td>
                    <td >
                        <button type="button" class="mb-sm btn btn-info" ng-click="updateFarm(farm)">更新</button>
                        <button type="button" class="mb-sm btn btn-danger" ng-click="deleteFarm(farm.id)">删除</button>
                        <button type="button" class="mb-sm btn btn-primary" ng-click="tofarmItem(farm)">详情管理</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <pager pager_data="farm_data" loaddata="loaddata(index,size)"></pager>
    </div>
</div>